distribute_remove  1.0.0-4
pip                10.0.1-1
setuptools         38.2.5-1
pyface             6.0.0-1
pygments           2.2.0-1
pyqt               4.11.4-7
qt                 4.8.7-8
sip                4.17-4
traits             4.6.0-1
traitsui           6.0.0-1
numpy              1.13.3-3
chaco              4.7.1-2
envisage           4.6.0-1
six                1.10.0-1
